<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            [v-cloak] {
                display: none;
            }
            .isActive{
                color: green;
            }
            isError{
                color: red;
            }
        </style>
        <title>VUE</title>
        <script type="text/javascript" src="src/js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <button @click="click_method">click me</button>
            <div v-if=" see">
                登录：<input placeholder="login" v-model="text_val"/>
            </div>
            <div v-else>
                注册：<input placeholder="register" v-model="text_val"/>
            </div>
            <ul>
                <li v-for="(p, index) in people" :key="p.name">
                    {{ index + 1 }}: I am {{ p.name }}, {{ p.age }} years old <input type="text"/>
                </li>
            </ul>
            <ul>
                <li v-for="(v,k) in obj">
                    {{ k }}: {{ v }}
                </li>
            </ul>
            <div>
            <input type="text" v-model="text_val"/>{{ text_val }}
            </div>
            <div>
                <input type="radio" value="0" id="a" v-model="radio_value"/><label for="a">A</label>
                <input type="radio" value="1" id="b" v-model="radio_value"/><label for="b">B</label>
                <input type="radio" value="2" id="c" v-model="radio_value"/><label for="c">C</label>
                {{ radio_value}}
            </div>
            <div>
                <input type="checkbox" value="0" id="d" v-model="checkbox_value"/><label for="d">D</label>
                <input type="checkbox" value="1" id="e" v-model="checkbox_value"/><label for="e">E</label>
                <input type="checkbox" value="2" id="f" v-model="checkbox_value"/><label for="f">F</label>
                {{ checkbox_value }}
            </div>
            <div>
                <select v-model="select_value">
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                    <option value="3">D</option>
                </select>
                {{ select_value }}
            </div>
            <div>
                question:<input type="text" placeholder="enter" v-model="question"/>
                answer: {{ answer }}
            </div>
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    styles: [{fontSize:'20px',background:'yellow'}, {color: '#000'}],
                    style1: {fontSize:'20px',background:'yellow'},
                    style2: {color: '#000'},
                    question: '',
                    answer: 'no answer',
                    text_val: 1,
                    radio_value: 1,
                    checkbox_value: [0],
                    select_value: 2,
                    href: 'www.baidu.com',
                    msg: 'hello vuejs',
                    html: '<h1>HTML</h1>',
                    see: true,
                    people: [
                        {
                            name: 111,
                            age: 111
                        },
                        {
                            name: 222,
                            age: 222
                        },
                        {
                            name: 333,
                            age: 333
                        },
                        {
                            name: 444,
                            age: 444
                        },
                    ],
                    obj:{
                        name: 444,
                        age: 444
                    }
                },
                methods: {
                    click_method: function(){
                        this.see = !this.see;
                        // console.log(t);
                    }
                },
                computed:{
                     reverse_msg: function(){
                        return this.msg.split('').reverse().join('')
                    }
                },
                watch:{
                    question: function(){
                        this.answer = "waiting";
                        var self = this;
                        setTimeout(function(){
                            self.answer = "404"
                        }, 3000)
                    }
                }
            })
        </script>
    </body>
</html>